<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Temporal EMF Target Platform" sequenceNumber="3">
<locations>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="https://download.eclipse.org/eclipse/updates/4.17/"/>
		<unit id="org.eclipse.sdk.ide" version="4.17.0.I20200902-1800"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="https://download.eclipse.org/releases/2020-09"/>
		<unit id="org.eclipse.emf.sdk.feature.group" version="2.23.0.v20200822-0801"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20200831200620/repository"/>
		<unit id="com.google.guava" version="27.1.0.v20190517-1946"/>
		<unit id="com.google.guava.source" version="27.1.0.v20190517-1946"/>
		<unit id="net.bytebuddy.byte-buddy" version="1.9.0.v20181107-1410"/>
		<unit id="net.bytebuddy.byte-buddy.source" version="1.9.0.v20181107-1410"/>
		<unit id="org.apache.commons.io" version="2.6.0.v20190123-2029"/>
		<unit id="org.apache.commons.io.source" version="2.6.0.v20190123-2029"/>
		<unit id="org.apache.commons.lang3" version="3.1.0.v201403281430"/>
		<unit id="org.apache.commons.lang3.source" version="3.1.0.v201403281430"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="https://abelgomez.github.io/eclipse.orbit/updates/"/>
		<unit id="com.h2database.feature.feature.group" version="1.4.200.202011241924"/>
	</location>
</locations>
	<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
</target>